* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.navimg {
  height: 37px;
}

.nave {
  color: white;
}
.nave:hover {
  cursor: pointer;
  color: white;
}

.spacecontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.itemContent {
  margin-top: 15rem;
}

.tittle1 {
  font-size: 7rem;
  font-weight: 800;
}

.tittle2 {
  font-size: 2rem;
  font-weight: 400;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.prethirt {
  display: flex;
  justify-content: space-evenly;
}

.tittle3 {
  font-size: 2rem;
  font-weight: 300;
}

.ditem {
  width: auto;
  padding: 3rem;
  margin: 0 2rem;
}

.tittle1item {
  font-size: 7rem;
  font-weight: 500;
}

.secondContainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: start;
}

.falconText {
  width: 50%;
  margin-top: 10rem;
  margin-left: 5rem;
}

.space {
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
  font-weight: 400;
  font-size: large;
  text-align: start;
}

.carroselContainer {
  min-height: 100vh;
  background-color: black;
}

.c1 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.c2 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.c3 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.c4 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.c5 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.tittle4 {
  font-size: 2rem;
  font-weight: 600;
}

tr {
  border-bottom: 0.25rem solid white;
}

.carrouselItem {
  margin-top: 11rem;
}

.tittle5 {
  font-size: 1rem;
  font-weight: 400;
}

.thirtContainer {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/08.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d1 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/09.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d2 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/10.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d3 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/11.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d4 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/12.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d5 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/13.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d6 {
  background-image: url(../Imagens\ projeto\ onebitX/falcon9/14.jpg);
  min-height: 100vh;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-bottom {
  margin-top: 43%;
  width: 80%;
  top: 70%;
  text-align: center;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
}

.preFooter {
  background-color: black;
  min-width: 50vh;
  color: white;
  margin: 16rem auto;
}

.footitem {
  text-transform: none;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.footitem:hover {
  color: white;
  font-size: large;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.navimg {
  height: 37px;
}

.nave {
  color: white;
  background-color: rgba(0, 0, 0, 0.2784313725);
  border-radius: 2rem;
}
.nave:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.2745098039);
}

.spacecontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/humanFlight/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowImg {
  width: 8rem;
}

.humanDiv {
  margin-top: 11rem;
}

.tittle {
  font-size: 6rem;
}

.tittle3 {
  font-weight: 300;
}

.secondContainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/humanFlight/02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  justify-content: end;
}

.headerSecondContainer {
  width: 97%;
  font-size: large;
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: rgb(168, 199, 251);
  transition: 0.4s;
}
.link:hover {
  color: rgb(54, 140, 239);
}

.tittle1 {
  font-size: 4rem;
  font-weight: 700;
}

.tittle4 {
  font-size: large;
  font-weight: 300;
}

.contentSecond {
  width: auto;
  margin: 14rem;
}

.thirtContainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/humanFlight/03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contentTecond {
  width: auto;
  margin-left: 10rem;
  padding-top: 12rem;
}

.fourtContainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/humanFlight/04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: end;
}

.fivenContainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/humanFlight/05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.preFooter {
  background-color: black;
  min-width: 50vh;
  color: white;
  margin: 16rem auto;
}

.footitem {
  text-transform: none;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.footitem:hover {
  color: white;
  font-size: large;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

.navimg {
  height: 37px;
}

.nave {
  color: white;
}
.nave:hover {
  cursor: pointer;
  color: white;
}

.spacecontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/home/01.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mediacontent {
  padding-top: 11rem;
  color: white;
}

.secondcontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/home/03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  width: 6rem;
}

.thirtcontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/home/02.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourtcontainer {
  min-height: 100vh;
  background-image: url(../Imagens\ projeto\ onebitX/home/04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fourtcontainer p {
  display: inline;
}

.footitem {
  text-transform: none;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.footitem:hover {
  color: white;
  font-size: large;
}

.copy {
  color: darkgrey;
}

/*# sourceMappingURL=style.css.map */
